<div class="faq">
	<div class="w60">
		<h1>Got Questions?</h1>
		<p>Got a question or two about Remindem? We've got an answer or two! Check out the Frequently Asked Questions on this page or subscribe to our <a href="#TODO">user discussion group</a>, where we'll be happy to answer any questions.</p>
	</div>
	<hr/>
	<div class="w60">
		<h3>Can I schedule text reminders for a particular time and date?</h3>
		<p>No yet, but you can schedule text reminders using intervals as short as one day or as long as you'd like. We are adding this feature soon though, so stay in touch!</p>

		<h3>Can I use my dumbphone?</h3>
		<p>Yes. Though wireless text sending and receiving requires an Android-powered phone running the free Nuntium app, you can use other cell phones by installing Nuntium on your PC or Mac. Then, once you connect your phone to your computer, Remindem will send scheduled text reminders.</p>

		<h3>Can subscribers respond to my text messages?</h3>
		<p>No. Once your subscribers have signed up for messages using the keyword you specify, all text messages are one way only -- from Remindem to subscribers.</p>

		<h3>Is there any charge for using Remindem?</h3>
		<p>Remindem is free to use and open source. Keep in mind that your mobile service provider's fees apply, so be sure to check with them if you have any questions about charges.</p>

		<h3>What browsers are supported for creating and managing text-messaging projects?</h3>
		<p>Any modern browser, including the latest versions of Firefox, Safari, Internet Explorer, Chrome, and others should work fine. If you run across a browser that doesn't seem to play nice with Remindem, please let us know <link to discussion group and/or contact page>.</p>

		<h3>What is Nuntium?</h3>
		<p>Nuntium is a small application that serves as a bridge between your phone and the Remindem Web application. Because Remindem doesn't directly send or receive text messages, this app helps your phone to communicate with Remindem so that it can send and receive messages according to the schedules you've set.</p>

		<h3>Why doesn't Remindem send and receive text messages directly?</h3>
		<p>We wanted you to be able to use this in any country you are. Therefore, Nuntium is used to "couple" your phone to Remindem so that it can send and receive text messages on the schedules you create in the Remindem Web app.</p>

		<h3>Can I use my personal phone with Remindem?</h3>
		<p>No. Remindem requires a dedicated phone with its own SIM card. </p>
	</div>
</div>