<%= render :partial => 'tour_navigation', :selected => :manage %>

<div class="TourContent left">
  <div class="left">
    <h2 class="w30">Manage as many lists and subscribers as you want, all from a single phone number</h2>
    <p class="advertised w30">Whether you manage one text messaging list or dozens, Remindem makes it easy to keep an unlimited number of subscribers up-to-date with relevant, timely reminders.</p>      
  </div>

  <img src="/images/myReminders.png" style="margin-left: 30px; margin-bottom: 31px; margin-top: 23px; width:322px; height: 206px;" class="left"/>

  <hr class="clear"/>
    <div class="left w30" style="margin-top: 35px;"><p>Simply define a <span class="highlight">unique keyword</span> for each message list. Subscribers then use those keywords to sign up for the lists that interest them.</p> </div>
  <img src="/images/tourArrow.png" style="margin-left:15px; margin-top: 81px; width:36px; height: 17px;"class="left"/>
  <img src="/images/keyword.png" style="margin-left:23px;margin-top:30px; width:300px; height: 113px;"class="left"/>
  <div class="clear"></div>
  <img src="/images/welcomeMessage.png" style="margin-left: 38px;margin-top: 23px; width:634px; height: 132px;" />
  <p>Greet new subscribers with a personalized welcome message and easy-to-remember keyword.</p>
</div>  
<div class="clear"></div>