= render :partial => 'tour_navigation', :selected => :schedule
.TourContent.left
  %h2.w50 Need a Reminder to send your reminders?
  %p.advertised.w50 Remindem remembers to send text reminders so you don't have to.
  %p.advertised.w50 Create your text messages when it's convenient for you. Set up a delivery schedule that works for your subscribers. Let Remindem stay up all night worrying about the details.
  .left.w30{:style => "margin-top:90px;"}
    %p With Remindem, you'll never again jump out of bed at 3 a.m. because you forgot to send text messages. Whether you want to send a daily health tip or series of reminders tailored to the individual timelines of a list of mothers-to-be, Remindem takes care of scheduled delivery so you can rest easy.
  = image_tag 'arrows.png', :style => "margin-top:90px; width:66px; height: 167px;", :class => 'left'
  = image_tag "messages.png", :style => "margin-left:20px; width:320px; height: 448px;", :localized => true
.clear
