<%= render :partial => 'tour_navigation', :selected => :send %>

<div class="TourContent left">
  <h2>Wether your project is large or small, Remindem can help</h1>
   <p class="advertised w60">No matter how many lists you manage, no matter how many subscribers you have, Remindem makes it simple to send scheduled text messages to make their lives easier, healthier, and more enjoyable.</p>
   <img src="/images/illustration.png" style="margin-left: 164px; width:425px; height: 353px;"/>
   <h3>Ready to get started?</h3>
   <p class="w60">Set up a <%= link_to "free account", new_user_registration_path %> and begin today. Once you've set up your messages, keywords, and schedules, be sure to let others know about your list using social media and by spreading the word wherever potential subscribers gather, such as hospitals and clinics.</p>
    <p class="w60">Need a little more info? Visit our <a href="#TODO">Help page</a> or subscribe to our <a href="#TODO">user discussion group</a>, where we'll be happy to answer any questions you might have and help you get going with Remindem!</p>
</div>
<div class="clear"></div>