%h1 Bulk upload

%p The upload was completed successfully. The following subscriptions were made:

%ul
  - @upload.subscriptions.each do |s|
    %li= s.action_description

%hr

.actions
  = link_to _('Back to reminders'), schedules_path
