ul.vertical { padding: 0; }
ul.vertical li { list-style: none; }

.fields > .box > .left, .fields .farrow { color: #000000; }
.fields .box { padding: 5px; position: relative; }
.fields hr { margin: 9px 0px 5px 0px; }
.fields .aleft { clear: left; float: left; }

.fields .farrow { height: 18px;  left: -4px; position: relative; margin-bottom: 0px; margin-top: 3px; }

.fields .fdelete, .fields .cadd { position: absolute; top: 0; right: 0; }

.fields .orange { margin-bottom: 7px; }
.fields .add_fields { display: block; margin: 2px 0; color: #2d79c4; }

.fields pre { font-family: Arial, Helvetica, sans-serif; margin: 0; white-space: pre-wrap; }

.fields .actions { padding: 0px 0px; color: #555555;}

.subscribersBox {
  height: 37px;
  padding-top: 1px !important;
  padding-right: 0px !important;
  padding-bottom: 1px !important;
  padding-left: 0px !important;
  font-size: 12px;
  margin-bottom: 13px !important;
  display: inline-block;
}

.subscribersDescription {
  margin-left: 5px;
  margin-right: 10px;
}

.csvDownload {
  margin: 3px 5px !important;
}
.subscribersCount {
  font-size: 23px;
  height: 20px;
}

.CleanTable th {
  padding-bottom: 7px;
}

.CleanTable tr:nth-child(2) td > a.cremove {
	margin-top: 11px;
	margin-bottom: 0px;
}

.ItemsTable tr:last-child td {
	padding-bottom: 1px;
}

.ItemsTable td > a.cremove {
	margin-top: 1px;
	margin-bottom: 0px;
	padding-top: 0px;
}

.ItemsTable td > a.cadd {
	margin-top: 1px;
	margin-bottom: 0px;
	padding-top: 0px;
}

.LocalGatewayArrow {
  margin-right: 1px !important;
}

.user_channel {
	margin-top: 21px;
}

.ChannelWizard > h1 {
	color: #ff6600;
	font-size: 20px;
	margin-bottom: 20px;
}

.ChannelWizard > p , .ChannelWizard > div, .ChannelWizard > a {
	font-size:12px;
	color: #555555;
}

.ChannelWizard > p {
	margin-top: 15px !important;
}

.ChannelWizard .description {
	margin-left: 26px;
	padding-top: 4px;
}


.ChannelWizard > a.fimport {
	color: #000000;
}

.ChannelWizard > input {
	left-margin: 0px;
}

.ChannelWizard > label {
	font-size: 15px;
}
.ChannelWizard .AndroidLogo {
   	background: url(/images/android.png);
    background-repeat: no-repeat;
    width: 37px;
    height: 35px;
	margin-left: 5px;
	margin-top: -10px;
}

.ChannelWizard .DesktopLogo {
   	background: url(/images/pc.png);
    background-repeat: no-repeat;
    width: 37px;
    height: 30px;
	margin-left: 5px;
	margin-top: -4px;
}

.ChannelWizard {
	margin-top: 27px;
	height: 430px;
}

.ChannelWizard .AndroidQR{
   	background: url(/images/android_local_gateway.png);
    background-repeat: no-repeat;
    width: 270px;
    height: 270px;
}

.ChannelWizard .box {
	padding: 1px 2px;
	color: black;
}

.ChannelWizard .AndroidScreen{
   	background: url(/images/androidPreview.png);
    background-repeat: no-repeat;
    width: 254px;
    height: 375px;
}

.ChannelWizard .GreyArrow{
   	background: url(/images/arrow.png);
    background-repeat: no-repeat;
    width: 46px;
    height: 17px;
}

.ChannelWizard .DesktopScreen{
   	background: url(/images/pcPreview.png);
    background-repeat: no-repeat;
    width: 258px;
    height: 374px;
}

.ChannelWizard .AndroidArrow {
	margin-top: 115px;
}

.ChannelWizard .DesktopArrow {
	margin-top: 254px;
}

.ChannelWizard .DesktopChannelCreation {
	margin-top: 160px;
	margin-left: 5px;
}

.ChannelWizard .AndroidChannelCreation {
	margin-left: 5px;
	margin-top: 21px;
}
.ChannelWizardNavigation {
	margin-top: 16px;
	margin-bottom: 7px;
}

.ChannelWizard .ChannelConfigured{
   	background: url(/images/finish.png);
    background-repeat: no-repeat;
    width: 461px;
    height: 302px;
}

.CurrentChannelBox {
	height: 44px;
	margin-bottom: 20px;
	height: 40px;
	padding-top: 4px;
	padding-left: 9px;
	padding-right: 4px;
	padding-bottom: 0px;
	width: 692px !important;
}

.CurrentChannelBox > div > p{
	margin-top: 0px;
	margin-bottom: 0px;
}

.CurrentChannelBox .black{
	color:black;
}

.EmptyAddButton {
	margin-top: 3px;
	margin-bottom: 0px;
}
.EmptyAddLink {
	margin-left: 18px;
}
.w90 {
	width: 940px !important;
}

.sactive span { background:#9fc643; margin-right:5px; width:10px; height:10px; display:inline-block; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px }
.spaused span { background:#d0d0d0; margin-right:5px; width:10px; height:9px; border-top:1px solid #9c9c9c; display:inline-block; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px }

.RemindersTable {
  width: 704px !important;
}

.EmptyRemindersTable {
  text-align: center;
  color: grey;
  font-style: italic;
  background: url(http://theme.instedd.org/theme/images/icons/72/grey/reminder.png) center top;
  background-repeat: no-repeat;
  margin-top: 52px;
  padding-top: 82px;
}

.EmptyRemindersTable a {
  color: #1F86C8;
  font-style: normal;
}

.EmptyTable {
  background: url(http://theme.instedd.org/theme/images/icons/72/grey/information.png) center top;
  background-repeat: no-repeat;
  margin-top: 111px;
  padding-top: 81px;
  text-align: center;
  color: grey;
  font-style: italic;
}

.deleteScheduleBox {
  margin-top: 12px !important;
  color: black !important;
  height: 89px;
  padding: 0px 4px 0px 4px !important;
  margin-left:-10px;
  width: 618px !important;
}

.ux-collapsible.switch.expanded > span {
  display: none;
}

.ux-collapsible > span:first-child > .fdelete {
  margin-bottom: 13px !important;
  margin-top: 0px !important;
}

.ux-content > a.grey {
  margin-top: 12px;
  margin-right: 12px;
}

.ux-content > input[type="checkbox"] {
  margin-top: 14px;
}

.ux-content > a.button.white {
  margin-top: 5px;
  margin-right: 3px;
}

.ux-content > .fdelete {
  background-position: 0px -60px;
  margin-bottom: 13px !important;
  margin-top: 0px !important;
}

a.black {
  color: black !important;
}

a.ux-collapse-trigger.grey {
  color: grey !important;
}

th.small {
  width: 35%;
}

.reminderMessageBox {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 14px !important;
  padding-top: 4px;
  word-wrap: break-word;
}

.reminderMessageBox.grey {
  padding-top: 3px !important;
}

.reminderMessageBox:not(.grey)  .timescale {
  color: #555555;
}

.reminderMessageBox .ux-wajbar {
  margin-top: 4px;
}

.pausedDescription {
  color: #555555;
  margin-top: 5px;
  margin-bottom: 4px;
}

.box.plain.white{
  border: 1px solid #D0D0D0;
}

.overviewBox {
  width: 200px;
  margin-right: 11px !important;
  padding: 4px 1px !important;
}

.overviewText {
  margin-top: 7px;
}

.overviewButton {
  margin-left: -4px;
  margin-bottom: 10px;
  margin-top: 2px;
}

.tiny {
	font-size: 11px;
}

th.severity {
  width: 10%;
}

.w60 > .field_with_errors {
	width: 600px;
}

.error_description {
  margin-bottom: 15px;
  margin-top: 15px;
}

.indexKeyword {
  color: #777777 !important;
  display: inline;
}

.TourContent {
  width: 710px;
}

.TourContent .pc {
  background: url(/images/tourPc.png);
  background-repeat: no-repeat;
  padding-top: 35px;
}
.TourContent .android {
  background: url(/images/tourAndroid.png);
  background-repeat: no-repeat;
  padding-top: 41px;
}

ul.TourNavigation > li.start > a {
  background: url(/images/start.png);
}
ul.TourNavigation > li.manage > a {
  background: url(/images/manage.png);
}
ul.TourNavigation > li.message > a {
  background: url(/images/message.png);
}
ul.TourNavigation > li.schedule > a {
  background: url(/images/schedule.png);
}

.faq h1+p {
  margin-bottom: 26px;
}

.faq h3 {
  margin-top: 30px;
}

h3+p {
  margin-top: -15px;
}

/* TODO: Fix on instedd theme */
.homepage #footer-container ul.language li {
  display: inherit ! important;
}

.wizardSteps {
  width: 693px;
}