- save_onclick ||= 'confirm_changes(this);'
- cancel_onclick ||= 'revert_changes(this);'
%li.fields
  .box.w60.reminderMessageBox
    = link_to_remove_fields '', f, :class => "fdelete causesPendingSaveNoticeOnClick"
    .offset.left
      .ux-nstep
        = tag :input, :name => "edit_offset", :size => "2", :type => "text", :value => f.object.offset, :onblur => "validate_onblur(this);", :'data-min' => "0"
      %span.timescale= @schedule.timescale
    .text
      = content_tag :textarea, f.object.text, :rows => 4, :class => "ux-wajbar w60", :placeholder => _('Add message here'), |
        :name => "edit_text" , :maxlength => 160, :onblur => "validate_onblur(this);"                                    |
    %hr/
    .actions
      %button.white{:onclick => "return #{save_onclick}", :type => "button"} Save
      %a{:href => "#", :onclick => "#{cancel_onclick}; return false;"} Cancel
