:javascript
  function updateLocalGatewaySelectionPath(){
  	if ($('input[name=localGateway]:radio:checked').val() == 'android') {
  		gateway = 'download_android_local_gateway';
  	} else {
  		gateway = 'download_desktop_local_gateway';
  	}
  	$('#next').attr('href', ($('#next').attr('href').replace("download_local_gateway", gateway)));
  };
.box.plain.grey.wizardSteps
  .steps-line
    .steps-container.s4
      %span.circle.first.green
        %span.inner
          %span.step-name Choose
      %span.line-fill
      %span.circle
        %span.inner
          %span.step-name Install
      %span.line-fill
      %span.circle
        %span.inner
          %span.step-name Connect
      %span.line-fill
      %span.circle.last
        %span.inner
          %span.step-name Finish
    / #steps-container
  / #steps-line
/ #box plain grey
.ChannelWizard
  %h1 Choose your type of mobile phone
  %input#androidLocalGateway.left{:checked => "", :name => "localGateway", :type => "radio", :value => "android"}/
  .left.AndroidLogo
  = label_tag :androidLocalGateway, _("Android mobile phone") , :class => "left"
  %p.w30.clear.description If you have an Android powered mobile phone, you don't need a computer to set up your schedules. Just download the application, enter your text messages, and set your delivery schedule, Remindem handles the rest.
  %input#desktopLocalGateway.left{:name => "localGateway", :type => "radio", :value => "desktop"}/
  .left.DesktopLogo
  = label_tag :desktopLocalGateway, _("Other mobile phone"), :class => "left"
  %p.w30.clear.description If you use another type of mobile phone all you need to do is plug your phone into your computer and bridge the gap between your text messages and the internet application that sends them out.
%hr/
.ChannelWizardNavigation
  = link_to _('Back'), schedules_path, :class => 'button white'
  = link_to _('Next'), new_channel_path(:download_local_gateway), :remote => true, :class => 'button grey', :onclick => "updateLocalGatewaySelectionPath();", :id => "next"
