.LocalGatewayBox.box.plain.white
  .LocalGatewayLogo.left
  .LocalGatewayText.left
    will help you to send reminders from your mobile phone, 
    = link_to _('learn More'), tour_path(:start)
    .
  = link_to _('Add a channel'), new_channel_path(:choose_local_gateway), :remote => true, :class => 'button orange right'
  .LocalGatewayArrow.right
