<div class="w60 header">
  <h1>Community</h1>
  <p>Get involved with the project! We welcome any feedback, ideas and requests or features. Get in touch and help us build a better and more helpfull tool for you.</p>
</div>
<hr/>
<div class="w20 left">
  <p>If you have ideas, needs or suggestions</p>
  <a class="button fchat">Join our user group</a>
</div>
<div class="w40 left">
  <p>If you are a developer you can contribute with some of the features or check our code repository</p>
  <div>
    <a href="https://bitbucket.org/instedd/remindem/issues?status=new&status=open" class="button fbulb left">Visit our backlog</a>
    <a href="https://bitbucket.org/instedd/remindem/overview" class="button fimport left">Check the source code</a>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
<div class="w60 box white emailInput">
  <div class="subscribe">
    <div class="i48grad-message left"></div>
    <h2>Subscribe to our newsletter</h2>
    <p>Stay up to date on the latest news about new tools, features or ideas on how to use our technologies. We will send you between 1 and 2 emails a month and won't sell your email or spam you!</p>
  </div>
  <hr/>
  <form action="http://instedd.us2.list-manage.com/subscribe/post?u=b1404e482b02edd641e6506cf&amp;id=6e0ca202fc" method="post" target="_blank">
    <div class="w50 left">
      <input type="email" name="EMAIL" placeholder="Enter your email">
    </div>
    <button type="submit" class="white right">Subscribe</button>
    <div class="clear"></div>
  </form>
</div>