  %span{:class => "button prev #{'disabled' if current_page.first?}"}
    = link_to_unless(current_page.first?, raw(t 'views.pagination.previous'), url, :rel => 'prev', :remote => remote) do
      = link_to raw(tag(:span)), '#'
