.box.centered.w50
  %h1
  .i48grad-error
  We're sorry, but something went wrong
  %p We've been notified about this issue and we'll take a look at it shortly.
  %hr/
  = link_to 'Back', :back, :class =>"button white"
