<div class ="box centered w50">
  <h1>
    <div class="i48grad-error"></div>
    We're sorry, but something went wrong
  </h1>
  <p>We've been notified about this issue and we'll take a look at it shortly.</p>
  <hr/>
  <%= link_to 'Back', :back, :class =>"button white" %>
</div>