.box.centered.w50
  %h1
  .i48grad-error
  The change you wanted was rejected
  %p Maybe you tried to change something you didn't have access to.
  %hr/
  = link_to 'Back', :back, :class =>"button white"
