<% content_for :content do %> 
  <%= render :partial => 'tour/tour_navigation', :selected => params[:page] %>
  <div class="TourContent left">
    <%= yield %>
  </div>  
  <div class="clear"></div>
<% end %>
<%= render :file => 'layouts/application' %>