.box.centered.w30
  %h2
  .i48grad-message
  Almost there!
  %hr.shadow/
  %p
    You have signed up successfully. However, we need you to confirm your email account. We have just sent an email to #{@email} with an activation link.
  %p Open the activation link and start using Remindem!
